body {
    margin: 0;
    background: #fff;
}

#video_wrap {
    position: relative;
    width: 320px;
    height: 100%;
}

#video {
    display: block;
    width: 100%;
}

/* 
#layer1 {
    width: 100%;
    height: calc(100% / 3);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    opacity: 0.8;
}

#layer2 {
    width: 100%;
    height: calc(100% / 3);
    position: absolute;
    top: calc(100% * 2 / 3);
    left: 0px;
    background-color: grey;
    opacity: 0.8;
}
*/

#canvas {
    width: 320px;
    height: 240px;
}

#image1 {
    width: 240px;
    height: 320px;
}

#image2 {
    width: 165px;
    height: 165px;
}
