body {
    margin: 0;
    background: #fff;
}

#video_wrap {
    position: relative;
    width: 320px;
    height: 240px;
}

#video {
    display: block;
    width: 320px;
    height: 240px;
}

#layer1 {
    width: 320px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    opacity: 0.8;
}

#layer2 {
    width: 320px;
    height: 80px;
    position: absolute;
    top: 160px;
    left: 0px;
    background-color: grey;
    opacity: 0.8;
}

#canvas {
    width: 320px;
    height: 240px;
}

#image1 {
    width: 240px;
    height: 320px;
}

#image2 {
    width: 165px;
    height: 165px;
}
